@{
    ViewBag.Title = "About treeDiM PLMPack";
}
<h2>@ViewBag.Title.</h2>
<p>
    PLMPack is brought to you by treeDiM and hosted on Microsoft Azure cloud.
    <address>
        treeDiM <br />
        1, rue des frères Lumière<br />
        92500 RUEIL-MALMAISON<br />
        <abbr title="Phone">P:</abbr>
        +33 (01) 41 42 19 36<br />
        <strong>Support:</strong><a href="mailto:support@treedim.com">support@treedim.com</a><br />
    </address>
</p>
@*<h3>@ViewBag.Message</h3>*@
