@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    treeDiM<br />
    1, rue des frères Lumière<br />
    92500 RUEIL-MALMAISON<br />
    <abbr title="Phone">P:</abbr>
    +33 (01) 41 42 19 36
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@treedim.com">support@treedim.com</a><br />
</address>