<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPLMPackService"
                         closeTimeout="00:05:00" openTimeout="00:05:00"
                         receiveTimeout="00:05:00" sendTimeout="00:05:00">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://plmpack.azurewebsites.net/PLMPackService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPLMPackService"
                contract="PLMPackSR.IPLMPackService" name="WSHttpBinding_IPLMPackService" />
        </client>
    </system.serviceModel>
</configuration>