<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="treeDiM.FileTransfer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <treeDiM.FileTransfer.Settings>
            <setting name="CacheDirectory" serializeAs="String">
                <value>%TEMP%\treeDiM\PLMPackLib\FileCache</value>
            </setting>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=plmpack;AccountKey=zw7HFWD7dTKwqlRiSIsNViNSi8Kx7ljpfT1yIYOCenj//mdRpPEveOmjuHPoLSI6AdYJ9O9gc2MlJR1PIa0lLw==</value>
            </setting>
        </treeDiM.FileTransfer.Settings>
    </applicationSettings>
</configuration>